.home-container {
  background: $light-blue;
  min-height: 100vh;
  padding: 4rem 1rem;
  color: $jet;
  width: 80%;
  margin: auto;
}

.hero {
  margin: 2rem auto 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-subtitle {
  color: $gray;
  font-size: 1.2rem;
}

.hero-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-input {
  min-height: 120px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  resize: vertical;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 0.4rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.06);
}

.search-input {
  flex: 1;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  outline: none;
  background: transparent;
}

.search-button {
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: .4s;
  background: $purple;
  color: white;

  &:hover {
    background: $navy;
  }
}

.btn-primary {
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  background: $purple;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.movie-card {
  background: white;
  color: $jet;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-info {
  padding: 1rem;

  h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .meta {
    font-size: .8rem;
    font-weight: 700;
  }

  .overview {
    font-size: .8rem;
    color: $gray;
  }
}

.favorite {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}