.navbar {
  background-color: $light-blue;
}

.navbar-brand {
  color: $purple;
  font-weight: 700;
  transition: .4s;
}

.nav-link {
  color: $jet;
  font-size: .8rem;
  font-weight: 600;

  &:hover {
    color: $purple;
  }
}